/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio.
 */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 2.8rem;
  background: var(--Dark-Blue);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  height: 94vh;
}

.main {
  text-align: center;
  min-width: 450px;
  max-width: 500px;
  width: 40%;
  background: var(--Dark-Grayish-Blue);
  border-radius: 10px;
  padding: 10px;
}

.advice_number {
  color: var(--Neon-Green);
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}

.advice_text {
  color: var(--Light-Cyan);
  font-size: 2.6rem;
  margin: 0 10px;
}

.div_icons {
  margin-bottom: 30px;
}

figure {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -10px;
  background: var(--Neon-Green);
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  z-index: 3;
}

figure:hover {
  box-shadow: 0px 0px 10px 1px var(--Neon-Green);
}

@media (max-width: 375px) {
  .container {
    height: 150vh;
  }

  .main {
    min-width: 300px;
  }
}
